<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>颜色插件</title>
    <link rel="stylesheet" href="../static/colorpicker/jquery.minicolors.css">
    <link rel="stylesheet" href="../static/css/color.css">
</head>
<body>

<div class="chooseBtn">
    <span>选择颜色</span><input type="text" class="sallonColorInput">
</div>
<div class="chooseBtn">
    <span>选择颜色</span><input type="text" class="sallonColorInput">
</div>
<div class="chooseBtn">
    <span>选择颜色</span><input type="text" class="sallonColorInput">
</div>
<div class="chooseBtn">
    <span>选择颜色</span><input type="text" class="sallonColorInput">
</div>

<script src="../static/js/jquery.min.js"></script>
<script src="../static/colorpicker/jquery.minicolors.min.js"></script>
<script src="../static/js/sallon.color.js"></script>
<script type="text/javascript">

    $(function(){
        $(".sallonColorInput").each(function(){
            $(this).sallonColor();
        });
    })
</script>
</body>
</html>